<h1 *ngIf="loading==false">Listado de Usuarios {{arrayUsuarios.length}}</h1>

<!-- <div *ngIf="arrayUsuarios.length > 0 "> -->
  <div id="usuario" *ngFor="let usuario of arrayUsuarios">
      
    <p><span>Nº Usuario: </span>{{usuario.numeroUsuario}}</p>
    <p><span>Sexo: </span>{{usuario.sexo}}</p>
    <p><span>Nombre: </span>{{usuario.nombre}}</p>
    <p><span>Apellidos: </span>{{usuario.apellido}}</p>
    <p><span>Telefono: </span>{{usuario.telefono}}</p>
    <p><span>Email: </span>{{usuario.email}}</p>
    <p><span>Edad: </span>{{usuario.edad}}</p>
    <p><span>Nacionalidad: </span>{{usuario.nacionalidad}} <img src="https://www.countryflags.io/{{usuario.nacionalidad}}/flat/16.png"></p>
    <p><span>Foto: </span><img [src]="usuario.foto" alt="Foto - {{usuario.nombre}}" /></p>
  </div>
<!-- </div> -->
<!-- <div id="usuario" *ngIf="arrayUsuarios.length==0">
  <p>No hay Usuarios</p>
</div>
-->

<div id="loading" *ngIf="loading==true">
  <h3>Cargando</h3>
  <img src="assets/img/spinner.gif" alt="loading"/>
</div>